---
layout: default
title: About us
page_class: about-us
permalink: /about-us/
---
<!-- TODO: redundant -->
<div class="wrapper">
  <div id="about-us">
    <div class="text">
        {% include about_us.html %}
    </div>
    <div class="leads">
      <h3>Leads/Köpfe</h3>
      <ul>
        {% for lead in site.data.members.leads %}
        <li>
          {{ lead.name }}
          {% if lead.twitter %}
            <a href="http://twitter.com/{{lead.twitter}}" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}
          {% if lead.github %}
            <a href="http://github.com/{{lead.github}}" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="members">
      <h3>Mitglieder</h3>
      <ul>
        {% for member in site.data.members.members %}
        <li>
          {{member.name}}
          {% if member.twitter %}
            <a href="http://twitter.com/{{member.twitter}}" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}
          {% if member.github %}
            <a href="http://github.com/{{member.github}}" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
