<h2>Wer sind wir?</h2>
<p>
  Wir sind Teil des Netzwerks <a href="http://codefor.de" target="_blank">Code for Germany</a>,
  einem Programm der <a href="http://okfn.de" target="_blank">Open Knowledge Foundation</a> Deutschland.
  Code for Germany ist Teil eines <a href="http://codeforall.org">internationalen Netzwerks</a> welches von
  <a href="http://codeforamerica.org" target="_blank">Code for America</a> ins Leben gerufen wurde.
  In Deutschland ging das Programm 2014 an den Start, mit anfangs acht Open Knowledge Labs.
  <!-- TODO:  about the lab-->
</p>
<h2>Was machen wir?</h2>
<p>
  Wir wollen in Osnabrück den Bürgern und Bürgerinnen bessere Möglichkeiten
  zur Verfügung stellen um sich informieren und beteiligen zu können.
  Darüber hinaus wollen wir der Stadtverwaltung und Politik dabei helfen besser
  und direkter mit den Bürger zu kommunizieren, um sich auszutauschen und deren
  Feedback zu bekommen.
</p>
