<h2>Wer sind wir?</h2>
<p>
  Hi! Wir sind Code for Osnabrück. Wir denken Digitalisierung auf einer zivilgesellschaftlichen Ebene: Wie können wir als Bürger*innen davon profitieren? Wir bauen unsere eigenen Anwendungen, die uns das Alltagsleben vereinfachen: vom Trinkwasser-Check bis zum Kita-Finder.

  Dafür brauchen wir Daten, und zwar keine personenbezogenen, sondern öffentliche – also Daten, die mit unseren Steuergeldern schon erhoben wurden und in irgendwelchen Ämtern und Behörden rumliegen. Deshalb fordern wir Offene Daten, #OpenData, und insgesamt transparente Regierungen und Verwaltungen, #OpenGov.

  Wir sind Teil des Netzwerks <a href="http://codefor.de" target="_blank">Code for Germany</a>, einem Programm der <a href="http://okfn.de" target="_blank">Open Knowledge Foundation</a> Deutschland. Code for Germany ist Teil eines <a href="http://codeforall.org">internationalen Netzwerks</a> welches von
  <a href="http://codeforamerica.org" target="_blank">Code for America</a> ins Leben gerufen wurde. In Deutschland ging das Programm 2014 an den Start, mit anfangs acht Open Knowledge Labs. Mittlerweile gibt es úns in 25 Städten.
  <!-- TODO:  about the lab-->


</p>
<h2>Was machen wir?</h2>
<p>
  Wir wollen in Osnabrück den Bürgern und Bürgerinnen bessere Möglichkeiten zur Verfügung stellen, um sich informieren und beteiligen zu können. Darüber hinaus wollen wir der Stadtverwaltung und Politik dabei helfen, besser und direkter mit den Bürger zu kommunizieren, um sich auszutauschen und deren Feedback zu bekommen.

  Wir treffen uns einmal wöchentlich, um zu programmieren, zu visualisieren, auszuprobieren, zu basteln und Spaß zu haben. Wir sind Menschen mit und ohne technischen Hintergrund. Und wir diskutieren über Themen rund um Offene Daten (Open Data) und zivilgesellschaftliche Technik (Civic Tech), die es hier in Niedersachsen leider besonders schwer haben. Warum? Naja.... Wir sagen nur <a href="https://transparenzranking.de/laender/niedersachsen/" target="_blank">Transparenzranking</a>....

  Ihr habt Fragen oder Ideen? Kommt vorbei! Designer, Entwicklerinnen, Journalisten, Vereine, Politikerinnen, Osnabrücker – ihr alle seid herzlich dazu eingeladen, mitzumachen und euch einzubringen.

  Übrigens: Einen Überblick über aktuelle Projekte findet ihr auch auf GitHub <a href="https://github.com/codeforosnabrueck" target="_blank">Github</a> – gerade noch nicht so viel, aber wir arbeiten dran! Folgt uns auch auf Twitter <a href="http://twitter.com/codeforosna" target="_blank">Twitter</a>.
</p>
