<hr style="margin:2em">

<h2 style="text-align: center">Komm vorbei!</h2>

<div id="next-meetup">
    <div id="meetup-details">

<div class="is-row">
        <div class="is-col">Unsere Treffen sind grundsätzlich offen für alle!<br>
                    Wir treffen uns das nächste Mal am
                    <p class="blueandbold"><span id="date"></span> um <span id="time"></span> Uhr</p><b id="venue">Ort: </b></p>
                 <div id="button">
                     <a class="button" href="http://www.meetup.com/codeforosnabrueck" id="rvsp">Ich möchte mich auf meetup.com anmelden!</a>
                 </div>
        </div>

        <div class="is-col">
              <p style="font-weight:bold">Das steht auf dem Plan:</p>
              <p id="description"></p>
        </div>
</div>

    </div>
</div>

<hr style="margin:2em">
