<div id="next-meetup">
  <div id="date">
    <div id="meetup-details">

<div class="column-2">

  <div class="center">
      <h1>Komm vorbei!</h1>



      <div class="main">
        <p class="center"> Unsere Treffen sind grundsätzlich offen für alle!<br>
        Wir treffen uns das nächste Mal am 
        <p class="blueandbold"><span></span> um 19 Uhr </p><b id="venue"></b></p>
      </div>

       <div id="button">
        <a class="button" href="http://www.meetup.com/codeforosnabrueck" id="rvsp">Ich bin dabei!</a>
      </div>
    </div>

</div>

<div class="column-2">
      <h3>Das steht auf dem Plan:</h3>
      <p id="description"></p>
</div>      

<div style="clear:both;"></div>



      
    
    </div>
  </div>
</div>