<!-- Nab menu overly for small screens. -->
<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            <li class="uk-active">
                <a href="/"> Startseite </a>
            </li>
            <li>
                <a href="/blog/">Blog</a>
            </li>
            <li>
                <a href="/projekte/">Projekte</a>
            </li>
            <li>
                <a target="_blank" href={{ site.meetup }}>Nächstes Treffen (meetup.com)</a>
            </li>
            <li>
                <a target="_blank" href={{ site.github }}>Quellcode auf Github</a>
            </li>
        </ul>
    </div>
</div>
