<html lang="en-gb" dir="ltr">

    <head>
        <title>{{ site.title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content='{{ site.description }}'>
        <meta name="keywords" content="{{ site.keywords | join: ',' }}">

        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link rel="stylesheet" href="/uikit/css/uikit.gradient.min.css">
        <link rel="stylesheet" href="/uikit/css/tooltip.gradient.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
      <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        {% include header.html %}

        {% if page.page_class != 'blog' %}
          <div id="background-pic"></div>
        {% endif %}
        <div class="page-content">
          {{ content }}
        </div>

      </div>

      <a href={{ site.github }}><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>


      {% include footer.html %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="/uikit/js/uikit.min.js"></script>
      <script src="/uikit/js/tooltip.js"></script>
      <script src="/js/main.js"></script>
      <script src="/js/meetup.js"></script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    </body>

</html>
